@import "./_variables.scss";

.flex-parent {
  height: 98vh;
  flex-direction: column;
}

.flex-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#flex-grow {
  padding: 0;
  margin: 0;
  height: 33vh;
  background-color: color(primarymenu);
  text-align: center;
  font-size: 5rem;
}

//#ssbu {
 // font-family: 'Alfa Slab One', cursive;
 // font-size: 3rem;
 // text-align: center;
//}

#logo {
  height: 10rem;
  width: 10rem;
}

#flex-grow2 {
  height: 32vh;  
  font-size: 3rem;
}

#arbol {
  height: 12rem;
}

#flex-grow3 {
  height: 33vh;
  text-align: right;
  background-color: color(secondarymenu);
  font-size: 4rem;
}

#puff {
  height: 12rem;
}

.secondpage {
  height: 100vh;
}

.title {
  height: 10vh;
  text-align: center;
  margin: 0;
}

.characters {
  height: 80vh;
  margin: 0;
  display: flex;
}

.columns {
  margin: 0;
  padding: 0;
  width: 24.5vw;
  background-color: color(secondbackground);
  display: flex;
  flex-direction: column;
}

//contents in column 1

#explanation {
  height: 23vh;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

#photo1 {
  width: 14vw;
  padding: 0 5.25vw;
}



//font-family: 'Alfa Slab One', cursive;
//font-family: 'Amaranth', sans-serif;