@import "./_variables.scss";

body {
  background-color: color(backcolor);
}

.flex-parent {
  height: 98vh;
  display: flex;
  flex-direction: column;
  background-color: color(primarymenu);
}

//.flex-child {
//background-color: lightblue;
//}

#flex-grow {
  flex-grow: 1;
  background-color: color(secondarymenu);
}

#ssbu {
  font-family: 'Alfa Slab One', cursive;
  font-size: 5rem;
  text-align: center;
}

//#image {
//  height: 1rem;
//}

#flex-grow2 {
  flex-grow: 1;
  display: flex;
  background-color: color(thirdcolor);
  font-size: 3rem;
}

#flex-grow3 {
  flex-grow: 1;
  font-size: 3rem;
  text-align: right;
}
//font-family: 'Alfa Slab One', cursive;
//font-family: 'Amaranth', sans-serif;