@import "./_variables.scss";

body {
    background-color: rgbacolor(#0D47A1)
}

.flex-parent {
    height: 90vh;
    display: flex;
    flex-direction: column;
    background-color: color(primarymenu);
}

.flex-child {
    height: 25vh;
    background-color: lightblue;
}

#flex-grow {
    flex-grow: 1;
}

#flex-grow2 {
    flex-grow: 2;
    display: flex;
}

#flex-grow3 {
    flex-grow: 3;
}